@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap");

@font-face {
  font-family: "General Sans Bold";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Bold.woff")
    format("woff");
}
@font-face {
  font-family: "General Sans Semi Bold";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Semibold.woff")
    format("woff");
}
@font-face {
  font-family: "General Sans Regular";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Regular.woff")
    format("woff");
}
@font-face {
  font-family: "General Sans Light";
  src: url("./assets/fonts/GeneralSans_Complete/Fonts/WEB/fonts/GeneralSans-Light.woff")
    format("woff");
}

.kalam-light {
  font-family: "Kalam", cursive;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", cursive;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", cursive;
  font-weight: 700;
  font-style: normal;
}

.general-sans-light {
  font-family: "General Sans Light";
}

.general-sans-regular {
  font-family: "General Sans Regular";
}

.general-sans-semi-bold {
  font-family: "General Sans Semi Bold";
}

.general-sans-bold {
  font-family: "General Sans Bold";
}

.btn-padding {
  padding: 9px 19px;
}

.btn {
  background-color: #3c3c3c;
  color: white;
}

.btn-ghost {
  background-color: transparent;
  color: #3c3c3c;
  border: 1px solid #3c3c3c;
}
